include README.md
include README.rst

include pyguetzli/guetzli.cpp
include pyguetzli/guetzli.h

include guetzli/third_party/butteraugli/butteraugli/butteraugli_main.cc
include guetzli/third_party/butteraugli/butteraugli/butteraugli.h
include guetzli/third_party/butteraugli/butteraugli/Makefile
include guetzli/third_party/butteraugli/butteraugli/butteraugli.cc
include guetzli/third_party/butteraugli/LICENSE
include guetzli/third_party/butteraugli/README.md
include guetzli/guetzli.make
include guetzli/fuzz_target.cc
include guetzli/premake5.lua
include guetzli/LICENSE
include guetzli/Makefile
include guetzli/README.md
include guetzli/guetzli/entropy_encode.cc
include guetzli/guetzli/score.h
include guetzli/guetzli/output_image.cc
include guetzli/guetzli/processor.cc
include guetzli/guetzli/fdct.h
include guetzli/guetzli/jpeg_data.h
include guetzli/guetzli/jpeg_data_reader.h
include guetzli/guetzli/quality.cc
include guetzli/guetzli/stats.h
include guetzli/guetzli/jpeg_error.h
include guetzli/guetzli/butteraugli_comparator.cc
include guetzli/guetzli/jpeg_huffman_decode.cc
include guetzli/guetzli/comparator.h
include guetzli/guetzli/preprocess_downsample.cc
include guetzli/guetzli/debug_print.h
include guetzli/guetzli/output_image.h
include guetzli/guetzli/jpeg_data_encoder.cc
include guetzli/guetzli/order.inc
include guetzli/guetzli/jpeg_bit_writer.h
include guetzli/guetzli/idct.h
include guetzli/guetzli/quantize.cc
include guetzli/guetzli/gamma_correct.cc
include guetzli/guetzli/jpeg_data_writer.cc
include guetzli/guetzli/jpeg_huffman_decode.h
include guetzli/guetzli/jpeg_data_decoder.cc
include guetzli/guetzli/entropy_encode.h
include guetzli/guetzli/dct_double.cc
include guetzli/guetzli/jpeg_data_encoder.h
include guetzli/guetzli/idct.cc
include guetzli/guetzli/guetzli.cc
include guetzli/guetzli/jpeg_data_writer.h
include guetzli/guetzli/preprocess_downsample.h
include guetzli/guetzli/processor.h
include guetzli/guetzli/fast_log.h
include guetzli/guetzli/quality.h
include guetzli/guetzli/butteraugli_comparator.h
include guetzli/guetzli/quantize.h
include guetzli/guetzli/color_transform.h
include guetzli/guetzli/fdct.cc
include guetzli/guetzli/score.cc
include guetzli/guetzli/jpeg_data_reader.cc
include guetzli/guetzli/jpeg_data_decoder.h
include guetzli/guetzli/jpeg_data.cc
include guetzli/guetzli/dct_double.h
include guetzli/guetzli/debug_print.cc
include guetzli/guetzli/gamma_correct.h
include guetzli/CONTRIBUTING.md
include guetzli/guetzli_static.make
